<h2>Редактирование</h2>
<%= form_for @post do |f| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"> <%= msg %> </div>
        <% end %>
    <% end %>
    <p>
        Название<br>
        <!-- дляназвания текста -->
        <%= f.text_field(:title, {:class => 'form-control'}) %>
    </p>
    <p>
        Описание<br>
        <!--для большого количества текста -->
        <%= f.text_area(:body, {:class => 'form-control'})  %>
    </p>

    <p>
        <%= f.submit({:class => 'btn btn-success'})  %>
    </p>
<% end %>